* {
	box-sizing: border-box;
}

body, main {
	width: 100%;
	height: 100%;
}

#map {
	width: 100%;
	height: 75%;
}

#place-input {
	width: 100px;
	height: 50px;
	top: 10px;
}

li {
	list-style-type: none;
	margin-left: 15px;
}


#pac-input.controls {
	margin-top: 20px;
	width: 250px;
	height: 25px;
	background-color: pink;
}

#places {
	background-color: aliceblue;
	width: 49%;
	height: 800px;
	display: inline-block;
	margin: 0 auto;
	padding: 0;
	vertical-align: top;
}
.places-detail {
	border: 1px solid black;
	width: 50%;
}
#itinerary {
	background-color: aquamarine;
	width: 49%;
	height: 800px;
	display: inline-block;
	margin: 0 auto;
	padding: 0;
	vertical-align: top;
}

.dayDiv{
	border: 1px solid black;
	width: 75%;
	margin: 0 auto;
}
.day {
	font-weight: bold;
}