* {
	box-sizing: border-box;
}

body, main {
	width: 100%;
	height: 100%;
}

#map {
	width: 80%;
	height: 800px;
	margin: 0 auto;
}

#place-input {
	width: 100px;
	height: 50px;
	top: 10px;
}

li {
	list-style-type: none;
	margin-left: 15px;
}

#pac-input.controls {
	margin-top: 20px;
	width: 250px;
	height: 25px;
	background-color: pink;
}

#places {
	background-color: aliceblue;
	width: 85%;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-evenly;
}
.place-card {
	border: 1px solid black;
	border-radius: 20px;
	width: 300px;
	background-color: #b1c4e2;
	display: block;
}
.place-card ul, .place-card {
	margin-left: 0;
	padding: 0;
}

#itinerary {
	background-color: aquamarine;
	width: 85%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-evenly;
}

.dayDiv{
	display: block;
	position: relative;
	overflow: hidden;
	height: 300px;
	width: 400px;
	border: 2px solid black;
}
.day {
	font-weight: bold;
}

#drop-target {
	border: 1px solid red;
	width: 500px;
	height: 500px;
	background-color: bisque;
}

#place-name {
	font-weight: bold;
}