* {
	box-sizing: border-box;
}

body, main {
	width: 100%;
	height: 100%;
}

#splash {
	position: relative;
	width: 100%;
	height:100%;
	color: white;
	background-image: url("https://images.unsplash.com/photo-1496588152823-\
	86ff7695e68f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=be35499188c292144ed3bfc3dac2f3fa&auto=format&fit=crop&w=1350&q=80");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; 
}

#splash h1 {
	font-size: 5em;
}
#intro {
	position: absolute;
	top: 35%;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}
#exploration {
	display: none;
}
#map {
	width: 60%;
	height: 900px;
	overflow: auto;
	/* margin: 0 auto; */
}

#place-input {
	width: 100px;
	height: 50px;
	top: 10px;
}

li {
	list-style-type: none;
	margin-left: 15px;
}

#pac-input.controls {
	margin-top: 20px;
	width: 250px;
	height: 25px;
	background-color: pink;
}

#places {
	background-color: aliceblue;
	width: 20%;
	position: absolute;
	top: 0;
	right: 20%;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-evenly;
}
.place-card {
	border: 1px solid black;
	border-radius: 20px;
	width: 200px;
	background-color: #b1c4e2;
	display: block;
	font-size: .75em;
}
.place-card ul, .place-card {
	margin-left: 0;
	padding: 0;
	margin-bottom: 0;
	
}

#itinerary {
	background-color: #5ec9ed;
	width: 20%;
	/* height: 1000px; */
	position: absolute;
	top: 0;
	right: 0;
	margin-bottom: 50px;
}

#places form {
	display: none;
}

p.period {
	font-size: 0.75em;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 0;
}

.dayDiv ul {
	margin: 0;
	padding: 0;
}
.dayDiv li {
	margin-left: 25px;
	padding: 0;
	font-size: 1em;
}
.dayDiv{
	display: block;
	position: relative;
	overflow: hidden;
	/* height: 200px; */
	width: 100%;
	border: 1px solid black;
	font-size: 0.9em;
}
.day {
	font-weight: bold;
}

#drop-target {
	border: 1px solid red;
	width: 500px;
	height: 500px;
	background-color: bisque;
}

#place-name {
	font-weight: bold;
}

.dayDiv h5 {
	text-align: left;
}

.btn-container {
	text-align: center;
	padding: 3px 0px;
}

.place-card button {
	border-radius: 10px;
}
.delete {
	color: white;
	background-color: #ef454e;
}

.schedule {
	background-color: aquamarine;
}